* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
}

header {
    display: flex;
    background-color: #6d8697 ;
    justify-content: space-between;
    align-items: center;
}

.logo {
width: 170px;
object-fit: cover;

}
nav>ul {
   list-style-type: none;

   display: flex;
}
nav>ul>li>a {
    padding: 10px 
}

nav>ul>li>a {
    text-decoration: none ;
    color: #fff;

}
section {
    display: flex;
    border: 1px solid rgb(149, 221, 205)
}
